<html>

<head>
	<title>Parcel Sandbox</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href='/stylesheets/style.css' />
	<meta charset="UTF-8" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
		 aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
		</div>
	</nav>
	<div id="app">
		<div class="form-row align-items-center">
			<br/>
			<br/>
			<br/>
			<div class="container">
				<div class="row form-row">
          <h5>Login: </h5>
          <div id="login-errors" class="hide alert alert-danger" role="alert">
            Well, you messed up
          </div>
					<form id="auth-login" >
						<div id="login-input-label-container">
							<div id="login-input-labels">
								<label class="login-input-label" for="loginDynamicInput">Your Email</label>
								<label class="login-input-label" for="loginDynamicInput">Password</label>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text" id="login-input-icon"><i class="far fa-envelope"></i></div>
							</div>
							<input type="email" class="form-control" id="loginDynamicInput" placeholder="Email" required>
						</div>
					</form>
				</div>

				<!-- Join -->
				<div class="row form-row">
          <h5>Join: </h5>
          <div id="join-errors" class="hide alert alert-danger" role="alert">
            Well, you messed up
          </div>
					<form id="auth-join">
						<div id="join-input-label-container">
							<div id="join-input-labels">
								<label class="join-input-label" for="dynamicInput">Your Email</label>
								<label class="join-input-label" for="dynamicInput">Your Name</label>
								<label class="join-input-label" for="dynamicInput">Password</label>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text" id="join-input-icon"><i class="far fa-envelope"></i></div>
							</div>
							<input type="email" class="form-control" id="joinDynamicInput" placeholder="Email" required>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="/javascripts/index.js"></script>
</body>

</html>